body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: lightblue;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background-color: #333;
    display: flex;
    gap:20px;
    justify-content: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.content {
    padding: 20px;
    font-size: 18px;
}


/* Media Query for Mobile */

@media (max-width: 768px) {

 /*  Background change */

    body {
        background-color: lightgreen;  
    }

    .content {
        font-size: 14px;   /*  Smaller font */
    }

    nav {
        flex-direction: column;   /*  Vertical menu */
        text-align: center;
    }

    nav a {
        border-top: 1px solid white;
    }
}
