body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.box {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

input {
    padding: 8px;
    width: 90%;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    background: #667eea;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #764ba2;
}

li {
    text-align: left;
    margin-top: 5px;
}